.content {
    position: relative;
}

.content .fade {
    font-family: sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 34vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    animation: fadeIn;
}

.youtube {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
}

@keyframes fadeIn {
    /*animation-nameで設定した値を書く*/
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
    /*アニメーション終了時は不透明度100%*/
}